<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!--
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <a id="skip-to-content" href="#research-interests" accesskey="1" title="">Research Interests</a>
    <a id="skip-to-content" href="#publications" accesskey="2" title="">Publications</a>
    <a id="skip-to-content" href="#teaching" accesskey="3" title="">Teaching</a>
    <a id="skip-to-content" href="#service" accesskey="4" title="">Service</a>
    <a id="skip-to-content" href="#work-experience" accesskey="5" title="">Work Experience</a>
    <a id="skip-to-content" href="#invited-talks--presentations" accesskey="6" title="">Talks</a>
    <a id="skip-to-content" href="#awards--honors" accesskey="7" title="">Awards</a>
    <a id="skip-to-content" href="#contact" accesskey="8" title="">Contact</a>
    -->
    
    <header class="page-header" role="banner">
<!--      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1> -->
      <h1 class="project-name">Aastha Mehta</h1>
      <img src="imgs/Aastha_profile_pic.jpg" class="wrap align-center" border-radius=50%>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="#research-interests" accesskey="1" title="" class="btn">Research Interests</a>
        <a href="#experience" accesskey="2" title="" class="btn">Background</a>
        <a href="#publications" accesskey="3" title="" class="btn">Publications</a>
        <a href="#teaching" accesskey="4" title="" class="btn">Teaching</a>
        <a href="#service" accesskey="5" title="" class="btn">Service</a>
        <a href="#invited-talks--presentations" accesskey="6" title="" class="btn">Talks</a>
        <a href="#awards--honors" accesskey="7" title="" class="btn">Awards</a>
        <a href="#contact" accesskey="8" title="" class="btn">Contact</a>
        
<!--      {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
-->      
<!--      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
-->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
